.root {
  --animation-duration: 0;
  --animation-transition-property: width, height;

  position: relative;
  transition-duration: var(--animation-duration);
  transition-timing-function: ease;
  transition-property: var(--animation-transition-property);
  width: min-content;
}

.prevChildren,
.currentChildren {
  transition: all var(--animation-duration) ease;
  position: relative;
}

.prevChildren {
  z-index: 2;
}

.currentChildren {
  z-index: 1;
}

.prevChildren {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.entering .prevChildren {
  opacity: 0;
}

.currentChildren {
  opacity: 1;
}

.beforeEnter .currentChildren {
  transition-duration: 0ms;
  opacity: 0;
}

.beforeEnter .currentChildren,
.entering .currentChildren,
.entered .currentChildren {
  position: absolute;
  top: 0;
  left: 0;
}
